@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
/* @theme{
  --primary: #5044E5
} */
 @theme {
  --primary: #5044E5;
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --primary: #7c6df5; /* maybe a lighter purple */
  --background: #0f0f10;
  --foreground: #f5f5f5;
}

.cl-card,
.cl-modal,
.cl-sheet,
.cl-rootBox {
  z-index: 9999 !important;
}

.reset-tw, .reset-tw *{
  all:revert !important
}

.cl-drawerRoot{
  z-index:10;
}